table {
    border-collapse: collapse;
    td {
        border: solid;
        padding: 5px 20px;
    }
    .column-names {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
}
